.productContainer {
    box-shadow: 2px 2px 3px gray;
    /* text-align: center; */
    /* width: 250px; */
    /* border: solid red 2px; */
    padding: .8rem;
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 400px;
    background-color: white;
   
}
.productContainer h3 {
    font-size: 1.4rem;
}
.imgContainer {
    width: 100%;
    padding: .5rem;
}
ul {
    /* list-style-type: circle; */
    list-style: inside;
}
li {
    font-size: 1.3rem;
}
.imgContainer img {
    width: 100%;
}
.priceContainer span:first-child {
    color: orange;
    display: block;

}
.priceContainer span:last-child {
    text-decoration: line-through;
}
.actionContainer {
    text-align: center;
   
 
}
.actionContainer span {
    color: blue;
    font-weight: bold;
    background-color: rgba(35, 35, 181, 0.185);
    border-radius: 2px;
    display: inline-block;
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
    /* line-height: 1.5; */
    /* border: solid blue 1px; */
    margin-bottom: .5rem;
    cursor: pointer;
}
.actionContainer span:hover {
    background-color: blue;
    color: white;
}