.featureProductContainer {
    width: 100%;
    /* height: 350px; */
    height: fit-content;
    background-color: white;
    position: relative;
    overflow: visible;
    box-shadow: 2px 2px 3px gray, -2px -2px 3px rgba(128, 128, 128, 0.745);
    transform: translateY(10rem) scale(.5);
    transition: all 1s;
    opacity: .5;

}
.featureProductContainer.showAnimate {
    transform: translateY(0) scale(1);
    opacity: 1;

    
}
.featureProductContainer:hover {
    box-shadow: 2px 2px 7px rgba(128, 128, 128, 0.745), -2px -2px 7px rgba(128, 128, 128, 0.745);
}

.featureImgContainer {
    width: 100%;
    height: 50%;
    height: 200px;
    position: relative;
    overflow: hidden;
    transition: scale .5s ;
    

}
/* .featureProductContainer:hover .img2 {
   
    opacity: 0;
}  */
.featureProductContainer:hover .img1 {

    
     transform: scale(1.2);
     transition-duration: .5s;
     transition-delay: .2s;

}
    

.featureImgContainer img {
    width:100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
}
.featureTextContainer  *{
    text-align: center;
    
}

/* icon design  */
.iconContainer {
    visibility: hidden;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 5%;
    border-radius: 50%;
    background-color: whitesmoke;
    /* border: solid red 2px; */
    cursor: pointer;
}
.iconContainer.Compare {
    top: 5%;

}
.iconContainer.Eye {
    top: 20%;

}
.iconContainer.Heart {
    top: 35%;

}


.icon {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    /* right: 5%; */
    /* color: gray; */
    color: black;
    width: 20px;
    height: 20px;
}


.iconContainer:hover .icon {
    color: rgba(223, 162, 55, 0.942);
}


.featureProductContainer:hover .iconContainer {
    visibility: visible;
}
/* tooltip design */

.tooltip {
    visibility: hidden;
    display: inline-block;
    width: 120px;
    background: black;
    color: white;
    text-align: center;
    /* border:solid red 6px; */
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 50%;
    right: 120%;
    transform: translateY( -50%);
}
.tooltip::after {
    content: "";
    position:absolute;
    top: 50%;
    /* right: 110%; */
    left: 100%;
    transform: translateY( -50%);
    border: solid 6px;
    border-color: transparent transparent transparent black;
    
}
.iconContainer:hover .tooltip {
    visibility: visible;
}


/* text container design */
.featureTextContainer {
    padding:0 2rem 2rem 2rem;

}
.featureTextContainer h3 {
    font-size: 1.6rem;
}

/* add to cart design */
.addToCart {
    width: 100px;
    padding: 10px 0;
    background: orange;
    cursor: pointer;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}
.featureProductContainer:hover .addToCart {
    background-color: black;

}
.titleLink {
    color: black;
}

/* media queries  */
@media (any-hover:none) {
    .iconContainer {
        visibility: visible;
    }
    
}